/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-vivra-icon-list-item{
	display: flex;
	align-items: flex-start;
	.wp-block-vivra-headed-paragraph{
		padding-left: 15px;
	}

	.wp-block-vivra-custom-icon{
		transform: translatey(-10px);
	}

}


.icon-drop:before { content: '\e801'; } /* '' */
.icon-fish:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-rocket:before { content: '\e804'; } /* '' */
.icon-smile:before { content: '\e805'; } /* '' */
.icon-hand:before { content: '\e806'; } /* '' */
.icon-bubbles:before { content: '\e807'; } /* '' */
.icon-speech-icon:before { content: '\e808'; } /* '' */
.icon-eye:before { content: '\e809'; } /* '' */
.icon-rabbit:before { content: '\e80a'; } /* '' */
.icon-spot:before { content: '\e80b'; } /* '' */
.icon-star:before { content: '\e80c'; } /* '' */
.icon-sun:before { content: '\e80d'; } /* '' */
.icon-tape:before { content: '\e80e'; } /* '' */
.icon-umbrella:before { content: '\e80f'; } /* '' */
.icon-apple:before { content: '\e810'; } /* '' */
.icon-spin:before { content: '\e830'; }